p {
    margin: 0;
}

p:not(:first-child) {
    margin-top: 1em;
}

code {
    padding: 1px;
    border-radius: 5px;
    background-color: #ddd;
    color: #202020;
    font-size: 0.85em;
}

.i li:not(:first-child) {
    margin-top: .5em;
}

.d-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-radius: var(--border-radius-inner);
    background-color: var(--fg-color);
    color: var(--fg-font-color);
    text-decoration: none;
    text-align: center;
    transition: background-color var(--speed-minimum) var(--main-timing-function);
}

.d-button:hover {
    background-color: var(--fg-color-darker);
}